footer {
    background-color: #304a72;
    width: 100%;
    color: $color-negro;
    text-align: center;
    padding: 20px;
    font-size: 25px;
}

.redes a {
    text-align: center;
    text-decoration: none;
    color: $color-blanco;
    font-size: 50px;
    letter-spacing: 10px;
}

footer p {
    margin-bottom: 50px;
    color: $color-blanco
}