$color-azul: #2473ce;
$color-negro: #000000;
$color-blanco: rgb(255, 255, 255);
$color-grisverdoso: #ffffff86;
$titulos-card: #0099ff;
$fuente-titulo: helvetica;
$fuente-posicion: center;
$fuente-parrafo: vardana;
$boton-card: center;


